@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import "tailwindcss";
/* --background: #ffffff;
--foreground: #171717; */
:root {
  /* --background: #f8f8f8;
  --foreground: #171717;
  --font-geist-sans: 'Outfit', sans-serif;
  --font-geist-mono: 'Ovo', serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001F; */
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001F;
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2C2C2C;
  --color-darkTheme: #1A1A1A;
  --color-whiteText: #EAEAEA;
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
  --templateGridCoulmns: repeat(auto-fit, minmax(300px, 1fr));
}

@custom-variant dark (&:where(.dark, .dark *));